.Marcas{
    font-size: medium;
    color: black;
    text-shadow: 10px 10px 5px gray;
    text-align: center;
}
h2{
    text-shadow: 10px 10px 5px gray;
}
.principal{
    margin-bottom: 2rem;
}
.imagenojos{
    max-width: 100%;
    min-width: none;
    height: auto;
}
.footer{
    margin-top: 10%;
    text-align: center;
    font-size: 10px;
}
.frase{
    animation:slideInLeft;
    animation-duration: 4s;
    text-shadow: 10px 10px 5px gray;
}
.container1{
    box-shadow: 6px 20px 10px rgb(7, 7, 7);
 }
 .textos{
    font-size: 20px;
    font-weight: 100;

}
ul{
    list-style: none;

}