.Fondo{
    background: rgb(250,221,233);
    background: linear-gradient(90deg, rgba(250,221,233,1) 0%, rgba(238,17,118,0.4906337535014006) 100%);
}
.Marcas{
    color: black;
}
.p{
    color: black;
}
.footer{
    background-color: rgb(104, 49, 68);
    color: white;

}
.encabezado{
    color:pink;
    background: rgb(45,5,22);
background: linear-gradient(90deg, rgba(45,5,22,1) 0%, rgba(238,17,133,0.9808298319327731) 100%);
    
 }
 .navegador a{
    color: white;
}