.p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Marcas{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.textos{
    font-family: Arial, Helvetica, sans-serif;
}